
  html, body, :global(#root) {
    height: 100%;
    margin:0px;
    padding:0px;
    /*overflow-y:scroll;*/
    background-color: rgb(242,242,242);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  /*:global(.ant-table-row-expand-icon-cell) {
    width:38px !important;
  }*/

  /*:global(.ant-table-body-inner) {
  }*/

  :global(.hlht-menu-style) :global(.ant-menu-item) {
    padding:0px !important;
  }

  :global(.hlht-menu-style) :global(.ant-menu-item) :global(.menu-active) {
    background-color: #e7f4fd;
    padding-left:28px;
    border-right:3px solid #0099CC;
  }

  :global(.hlht-menu-style) :global(.ant-menu-item) :global(.menu-normal) {
    padding-left:35px;
  }
  /*.ant-menu-sub.ant-menu-inline .ant-menu-item-group-title*/
  :global(.ant-menu-item-group-title) {
    padding-left:20px !important;
  }

  :global(.hlht-menu-style) :global(.ant-menu-item-selected) {
    background-color: #fff;
    border-width: 0px !important;
    color:#000;
  }

  :global(.hlht-menu-style) :global(.ant-menu-item-selected) :global(a){
    color:#000 !important;
  }

  :global(.ant-breadcrumb){
    height:30px;
    background-color: #fff;
    border-bottom:1px solid #efefef;
    line-height: 30px;
    padding-left:10px;
  }


  :global(.table-page) {
    float:right;
  }

  :global(td) {
    text-align: center;
  }

  :global(th) :global(span){
    display: block;
    text-align: center !important;
  }
  :global(.ant-table-footer) {
    text-align: right;
    /*line-height: 55px;*/
    /*padding:12px 8px !important;*/
    height:48px;
    z-index: 3;
    top: 0px !important;
    background-color: #fff !important;
    border-radius: 0 !important;
  }
  :global(.myCls) {
    height:330px !important;
  }
  :global(.isLeaf) {
    display: none;
  }
  :global(.ant-table-title) {
    padding: 8px 8px !important;
    top: 0px !important;
    background-color: #fff;
    border-radius: 0 !important;
  }
  :global(.ant-menu) {
    line-height: 50px !important;
  }
  :global(.editor-toolbar) {
    background-color: #fff !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  :global(.toolbarBtn) {
    margin-left:10px;
  }

  :global(.CodeMirror) {
    height:700px !important;
  }
  :global(.reloadBtn) {
    float:right;
    font-size:20px;
    margin-top:4px;
    margin-right:10px;
    cursor:pointer;
    color:#efefef;
  }

  :global(.ant-dropdown-link) {
    color:#fff;
    margin-left:10px;
  }

  :global(.info-modal) :global(.ant-modal-body) {
    padding:0px;
  }


//markdown样式修饰
  :global(pre) {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.38461538;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  :global(code) {
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
  }

  :global(blockquote) {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 16.25px;
    border-left: 5px solid #e5e5e5;
  }

  :global(p) {
    margin: 0 0 10px;
  }

  :global(.code), :global(code), :global(kbd), :global(pre), :global(samp) {
    font-family: Monaco,Menlo,Consolas,Courier New,monospace;
  }
